* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    background-image:url(img/itachibgimg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


section {
    margin: 0;
    padding: 0;
}


nav {
    background-color: black;
    color: aqua;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    z-index: 1;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li {
    height: 80px;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 30px;
    padding-top: 20px;
    text-decoration: none;
    display: flex;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: aqua;

    &:hover {
        background-color: aqua;
        color: black;

        &::after#closeSidebarBtn {
            background-color: none;
        }
    }
}

nav li:first-child {
    margin-right: auto;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    z-index: 1;
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -50px;
}

#sidebar li {
    width: 100%;
}

#sidebar a {
    width: 100%;
    color: black;

    &:hover {
        color: black;
    }
}

#closeSidebarBtn {
    color: aqua;
}


































/* ------------------------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------------- */


footer {
    background-color: black;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}
/* 
.foot {
    
} */

.footer {
    display: flex;
    padding-bottom: 30px;
}

a:any-link {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.footimg {
    margin-left: 370px;
    display: block;
    line-height: 50px;
    padding-top: 50px;
    align-items: center;
}


.main-footer {
    display: flex;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 50px;
}

.mfooter1 {
    padding-left: 190px;
    line-height: 30px;
}

.mfooter2 {
    padding-left: 80px;
    line-height: 30px;
}

.mfooter3 {
    padding-left: 70px;
    line-height: 30px;
}

.mfooter4 {
    padding-left: 40px;
    line-height: 30px;
}

#lower-footer {
    margin-top: 5px;
    margin-left: 60px;
    line-height: 30px;
}