* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quizPages-bg {
    min-height: 100vh;
    background-color: black;
    background-image: url(img/bgimg.png);
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-attachment: fixed;
}

body {
    min-height: 100vh;
    background-color: wheat;
    /* background-image: url(img/bgimg.png); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-attachment: fixed; */
}


section {
    margin: 0;
    padding: 0;
}


a:any-link {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

ul li {
    list-style-type: none;
}





/* -------------------------------------------------------Header--------------------------------------------------------- */

header {
    background-color: black;
    height: 50px;
    padding: 5px;
}

.main-header ul {
    display: flex;
    gap: 30px;
    text-align: center;
    /* justify-content: center; */
}

#openSidebarBtnLi {
    margin-top: 10px;
}

#openSidebarBtn {
    margin-left: 300px;
}

.headerLogoImg {
    height: 30px;
    margin-top: 5px;
}

search input {
    margin-top: 5px;
    padding: 5px 3px 5px 3px;
    border: 10px;
    border-radius: 10px;
    margin-left: 300px;
    height: fit-content;
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    left: 1075px;
    top: 2.8%;
    transform: translateY(-30%);
    pointer-events: none;
    opacity: 0.5;
}


.main-header button {
    margin-left: 300px;
    background-color: red;
    color: black;
    border-radius: 10px;
    border: 3px solid black;
    margin-top: 10px;
    padding: 0px 5px 0px 5px;
}

.header-signin {
    margin-top: 10px;
    color: white;
}

.header-signin a {
    color: white;
}



/* ---------------------------------------------------------------------------------lower-header (navbar)------------------------------------------------------------------------------------------------------- */

.lower-navbar ul {
    display: flex;
    color: white;
    background-color: black;
    gap: 20px;
    padding-left: 400px;
}

.lower-navbar ul li a {
    color: white;
}










/* -----------------------------------------------------------------------------Navbar----------------------------------------------------------------------------------------------------- */




.navSec {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);

}

nav .navul {
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

}

nav .navli {
    height: 80px;
    align-items: center;

    list-style: none;

}

nav .nava {
    height: 100%;
    padding: 0 30px;
    padding-top: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all ease 0.5s;


    &:hover {
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
        color: white;
    }
}

nav .nava .fa-solid {
    margin-right: 5px;
}

nav navli:first-child {
    margin-left: auto;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    z-index: 1;
    background-color: black;
    /* background-color: rgba(225, 225, 225, 0.2); */
    /* backdrop-filter: blur(10px); */
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    margin-left: auto;
    border-radius: 5px;
}













/* --------------------------------------------------------------------------------------------------------main--------------------------------------------------------------------------------------------------------------------------- */


.maincontent-row1 {
    margin-left: 300px;
}

.maincontent-row1 h3 {
    color: white;

}

.maincontent-row1 ul {
    display: flex;
    gap: 30px;
}


.maincontent-row1 .card {
    transition: 0.5s ease;
    border-radius: 20px;
    text-align: center;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

    }
}

.maincontent-row1 .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}





.maincontent-row2 {
    margin-left: 300px;
}

.maincontent-row2 h3 {
    color: white;

}

.maincontent-row2 ul {
    display: flex;
    gap: 30px;
}


.maincontent-row2 .card {
    transition: 0.5s ease;
    border-radius: 20px;
    text-align: center;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

    }
}

.maincontent-row2 .card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}




.sideCategory-container {
    display: flex;
    justify-content: center;
}

.sideCategory-container .card {
    max-height: 77px;
    /* object-fit: cover; */
    overflow: hidden;
}

/* .scienceCategory-row1 .card .card-body .card-title .card-text {
    object-fit: contain;
    line-height: 5px;
    color: #92DCE5;
    top: -100px;
} */

.sideCategory-row .card .card-body .card-title,
.sideCategory-row .card .card-body .card-text {
    line-height: 1.2;
    color: black;
    font-size: 0.85rem;
    margin: 0;
    margin-left: -25px;
}

.sideCategory-row .card {
    transition: ease 0.5s;

    &:hover {
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }
}

.mainContent-sideCategory .mainContent-sideCategroy-txt1 h3 {
    color: white;
    margin-left: 250px;
}

.mainContent-sideCategory h3 {
    color: white;
}

.scienceCategory-row1-img {
    object-fit: cover;
    height: 50px;
    width: 100%;
}














/* -----------------------------------------------------------------------------------------guess country page---------------------------------------------------------------------------------------------------------------------- */






.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    color: black;
    margin-top: 10px;
}


.guessCountry-card {
    align-items: center;
    justify-content: center;
    background-color: black;
    color: black;
    padding: 1rem;
    margin: 30px 10px 50px 450px;
}

.guessCountry-card .btn-light {
    color: white;

    &:hover {
        color: black;
    }
}





/* --------------------------------------------------------------------------------------------Periodic Table-------------------------------------------------------------------------------------------------------------------------- */



.periodicTable-card {
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 1rem;
    margin: 30px 10px 50px 700px;
    border-radius: 10px;
}

.periodicTable-card .btn-light {
    color: white;

    &:hover {
        color: black;
    }
}































/* ------------------------------------------------------------------------------------FOOTER-------------------------------------------------------------------------------------- */


footer {
    background-color: black;
    color: white;
    bottom: 0;
    margin-bottom: -1rem;
}

.social-icons ul {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    padding: 30px;
    font-size: larger;
}


.legal-info ul {
    gap: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
}

.legal-info ul li {
    background-color: black;
}