* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: antiquewhite;
    background-image: url(img/Untitled.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

section h3 p {
    padding: 0;
    margin: 0;
}

div {
    object-fit: contain;
    padding: 0;
    margin: 0;
}


a:any-link {
    text-decoration: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    list-style: none;
    background-color: transparent;
}


li {
    list-style: none;
}



nav {
    background-color: black;
    color: aqua;
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); */
    margin: 0;
    padding: 0;
    z-index: 1;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li {
    height: 80px;
    align-items: center;
    list-style: none;
}

nav a {
    height: 100%;
    padding: 0 30px;
    padding-top: 20px;
    margin: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: aqua;

    &:hover {
        background-color: aquamarine;
        color: black;

        &::after#closeSidebarBtn {
            background-color: none;
        }
    }
}

nav li:first-child {
    margin-right: auto;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    z-index: 1;
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 5px 10px 0px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    margin-left: -50px;
    border-radius: 5px;
}

#sidebar li {
    width: 100%;
}

#sidebar a {
    width: 100%;
    color: black;

    &:hover {
        color: black;
    }
}










.introduction {
    margin-left: 100px;
}

.introtext {
    color: black;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.introimg {
    color: black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.introresume {
    padding: 20px;
    margin: auto;
    background-color: lightgrey;
    color: black;
    border-radius: 10px;
    border: none;
    transition: background-color 0.7s ease, 
    box-shadow 0.5s ease;
    
    &:hover {
        background-color: aqua;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

    }
}



/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    align-items: end;
    justify-content: center;
    height: 800px;
}
.grid-item {
    width: auto;
    height: auto;
    background-size: cover;
    background-position: center;
}
.grid-img1 {
    width: 400px;
    grid-row: 1;
    grid-column: 1;
}
.grid-img2 {
    grid-row: 2;
    grid-column: 2;
}
.grid-img3 {
    grid-row: 3;
    grid-column: 3;
} */

/* .grid-item {
    width: 700px;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.w3-row-padding img {
    margin-bottom: 12px; 
    align-items: start;
}
.w3-row-padding {
    margin-bottom: 12px; 
    align-items: start;
} */


.photographs {
    margin-left: 100px;
}

.photoinner {
    width: 100%;
    gap: 25px;
    height: 300px;

}

.projinfo {
    margin-left: 150px;
    color: black;
}








/* -----------------------------------------------------------------skill page------------------------------------------------------------------------------- */


.skillinfo {
    text-decoration-color: black;
    color: black;
    margin-left: 450px;
}

/* .skillinfotxtcolor {
    color: black;
} */
.skills {
    margin-left: 400px;
}

.skill-bar {
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: 0.2s ease;

    &:hover {
        box-shadow: 20px 20px 30px 20px rgba(0,
                0, 0, 0.2);
    }
}

.skill-level {
    height: 20px;
    width: 0;
    /* Animated later */
    background-color: black;
    border-radius: 5px;
    transition: width 1s ease-in-out;
    align-content: center;
}

.skill-level p {
    text-align: center;
    color: white;
}



.workedFor-info {
    display: flex;
    margin-top: 100px;
    margin-left: 400px;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100vh;
    gap: 100px;
    align-items: center;
    align-content: center;
    text-align: center;
}
.workedFor-info ul {
    margin-bottom: -10px;
    padding: -20px;
}






/* ------------------------------------------------------------------------------FOOTER---------------------------------------------------------------------- */


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px;
    flex-wrap: wrap;
    bottom: 0;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
    padding: 10px;
}

.social-icons {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

.social-icons {
    display: inline-block;
    display: flex;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: 0.3s;

    &:hover {
        color: blueviolet;
    }
}

.footer-right p {
    font-size: 14px;
}