* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bodybgimg {
    min-height: 100vh;
    background-color: antiquewhite;
    background-image: url(img/Bugatti_bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#loginpagebodybgimg {
    min-height: 100vh;
    background-color: antiquewhite;
    background-image: url(img/Bugatti_Carausalimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#ProductPagebgimg {
    min-height: 100vh;
    background-color: antiquewhite;
    background-image: url(img/Bugatti_Carausalimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


section {
    padding: 0;
    margin: 0;
}


nav {
    background-color: black;
    color: aqua;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    /* position: sticky; */
    /* position: absolute; */
    /* top: 0px; */
    z-index: 1;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav li {
    height: 80px;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 30px;
    padding-top: 20px;
    /* margin: 0; */
    text-decoration: none;
    display: flex;
    align-items: center;
    color: aqua;

    &:hover {
        background-color: aqua;
        color: black;

        &::after#closeSidebarBtn {
            background-color: none;
        }
    }
}

nav li:first-child {
    margin-right: auto;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    z-index: 1;
    background-color: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0px 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -50px;
}

#sidebar li {
    width: 100%;
}

#sidebar a {
    width: 100%;
    color: black;

    &:hover {
        color: black;
    }
}

/* #closeSidebarBtn {
    top: 0;
    width: 30px;
    height: 40px;
} */

/* #openSidebarBtn {
    width: 100px;
    background-color: black;
    height: 50px;
    
} */

/* .logo {
    width: 100px;
    background-color: black;
    height: 50px;
    font-family: "Roboto Condensed", serif
} */







/* -------------------------------------------------------------------------------CARAUSAL--------------------------------------------------------------------------- */

.carousel-img {
    width: 100%;
    justify-content: center;

    /* z-index: 10; */
}

.carousel {
    top: -5%;
    width: 100vw;
    position: relative;
    z-index: -1;

    /* Full width of the viewport */
}

.carousel-item {
    /* object-fit: contain; */
    /* width: 2em; */
    height: 700px;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* 
.carousel-img {
    height: 290px;
} */

.carousel-item img {
    top: 10%;

    /* height: 500px; */
    /* object-fit: cover; */
}



/* ----------------------------------------------------------------------CARD--------------------------------------------------------------------- */






/* -------------------------------------------------------------loginpage------------------------------------------------------------------- */

#loginpageform {
    width: 500px;
    background-color: antiquewhite;
    align-items: center;
    margin-left: 200px;
    margin-bottom: 300px;
    margin-top: 100px;
    padding: 10px;

}


/* ------------------------------------------------------------------------------FOOTER---------------------------------------------------------------------- */


footer {
    background-color: black;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foot {
    color: white;
    background-color: black;
}

.footer {
    display: flex;
    padding-bottom: 30px;
}


a:any-link {
    text-decoration: none;
    background-color: transparent;
    color: white;
}

.footimg {
    display: block;
    line-height: 30px;
}

.main-footer {
    display: flex;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-top: 50px;
}


.mfooter1 {
    padding-left: 50px;
    line-height: 30px;
}

.mfooter2 {
    padding-left: 80px;
    line-height: 30px;
}

.mfooter3 {
    padding-left: 70px;
    line-height: 30px;
}

.mfooter4 {
    padding-left: 60px;
    line-height: 30px;
}


#right-footer {
    margin-top: 5px;
    margin-left: 90px;
    line-height: 30px;
}


#lowest-footer {
    margin-left: 500px;
    padding-bottom: 20px;
}

.lowestfoottxt1 {
    margin-left: 20px;
}